<div class="user__wrapper__signup">
    <div class="form__content">
      <%= form_with(model: @tweet, local: true) do |form| %>
        <h1>POST YOUR LYRIC</h1>
        <div class="form-group">
          <%= form.text_area :lyric, class:"form-control form-group--top" , placeholder: "lyric come on!" %>
        </div>
        <div class="middle">
          <div class="form-group">
            <%= form.text_field :song_name, placeholder: "@song name", class:"form-control form-group__midle form-group__left" %>
          </div>
          <div class="form-group">
            <%= form.text_field :artist, placeholder: "@artist", class:"form-control form-group__midle" %>
          </div>
        </div>
        <div class="form-group">
          <%= form.text_field :link, placeholder: "@link", class:"form-control form-group__link" %>
        </div>
        <div class="form-group">
          <%= form.text_area :text, placeholder: "text", class:"form-control form-group__bottom" %>
        </div>
        <%= form.submit "SEND", class:"btn btn-danger btn-lg" %>
      <% end %>
    </div>
</div>