<div class="show--wrapper">
  <div class="contents__show">
    <div class="content">
      <div class="content__top">
        <div class="content__top__lyric">
          <%=safe_join(@tweet.lyric.split("\n"),tag(:br))%>
        </div>
        <div class="content__top__info">
          <div class="content__top__info__sn">
            <% if @tweet.song_name == "" %>
              ♪ unknown
            <% else %>
              ♪ <%= @tweet.song_name%>
            <% end %>
          </div>
          <div class="content__top__info__artist">
            <% if @tweet.artist == ""%>
               @ unknown
            <% else %>
              @ <%= @tweet.artist%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content__bottom">
        <div class="content__bottom__text">
          <%=safe_join(@tweet.text.split("\n"),tag(:br))%>
        </div>
        <div class="content__bottom__bottom">
          <% if @tweet.link == "" %>
            <div class="content__bottom__bottom__link-false">
              <i class="fab fa-youtube"></i>
            </div>
          <% else %>
            <div class="content__bottom__bottom__link">
              <a href="<%= @tweet.link %>" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
          </div>
          <% end %>
          <div class="content__bottom__bottom__likes">
            <ul>
              <li class="like__top"> 
                <% if current_user.already_liked?(@tweet)%> 
                  <%= link_to tweet_like_path(@tweet), class: "like__top__before", method: :delete, remote: true do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to tweet_likes_path(@tweet), class: "like__top__after", method: :post, remote: true do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
              </li>
              <li class="like__bottom">
                <%= @tweet.likes.count%>
              </li>
            </ul>
          </div>
          <div class="content__bottom__bottom__trash-btn">
            <%= link_to tweet_path(@tweet.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="coment-area">
      <% if @comments %>
        <% @comments.each do |comment|%>
          <div class="height-line"></div>
          <div class="comment-content">
            <div class="comment-content__user-name" >
              @<%= comment.user.name %>
            </div>
            <div class="comment-content__text">
              <%= comment.text %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="comment_form">
    <% if current_user %>
      <h2>PLEASE LEAVE YOUR COMMENT!!!</h2>
      <%= form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form| %>
        <div class="form-group">
          <%= form.text_area :text, placeholder: "comment", class:"form-control text-area" %>
        </div>
        <%= form.submit "POST", class:"btn btn-danger btn-lg comment-btn"%>
      <% end %>
      <% else %>
        <h2>IF YOU WANT TO POST A COMMENT, PLEASE SING-UP↑</h2>
    <% end %>
  </div>
</div>
