<div class="show--wrapper">
  <div class="contents__show">
    <div class="content">
      <div class="content__top">
        <div class="content__top__lyric">
          <%= @tweet.lyric %>
        </div>
        <div class="content__top__info">
          <div class="content__top__info__artist">
            @ <%= @tweet.artist%>
          </div>
          <div class="content__top__info__sn">
            ♪<%= @tweet.song_name%>
          </div>
        </div>
      </div>
      <div class="content__bottom">
        <div class="content__bottom__text">
          <%= @tweet.text%>
        </div>
        <div class="content__bottom__bottom">
          <div class="content__bottom__bottom__link">
            <a href="<%= @tweet.link %>" target="_blank">Music Link</a>
          </div>
          <% if user_signed_in? && @tweet.user_id == current_user.id%>
            <div class="content__bottom__bottom__trash-btn">
              <%= link_to tweet_path(@tweet.id), method: :delete do %>
                <i class="fas fa-trash-alt trash-btn"></i>
              <% end %>
            </div> 
          <% end %>
        </div>
      </div>
    </div>
    <div class="coment-area">
      <% if @comments %>
        <% @comments.each do |comment|%>
          <div class="height-line"></div>
          <div class="comment-content">
            <div class="comment-content__user-name" >
              @<%= comment.user.name %>
            </div>
            <div class="comment-content__text">
              <%= comment.text %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="comment_form">
    <% if current_user %>
      <h2>PLEASE LEAVE YOUR COMMENT!!!</h2>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <div class="form-group">
          <%= form.text_area :text, placeholder: "comment", class:"form-control text-area" %>
        </div>
        <%= form.submit "POST", class:"btn btn-danger btn-lg"%>
      <% end %>
      <% else %>
        <h2>IF YOU WANT TO POST A COMMENT, PLEASE SING-UP↑</h2>
    <% end %>
  </div>
</div>
