<div class="content">
  <div class="content__top">
    <div class="content__top__lyric">
      <%=safe_join(tweet.lyric.split("\n"),tag(:br))%>
    </div>
    <div class="content__top__info">
      <div class="content__top__info__sn">
        <% if tweet.song_name == "" %>
          ♪ unknown
        <% else %>
          ♪ <%= tweet.song_name%>
        <% end %>
      </div>
      <div class="content__top__info__artist">
        <% if tweet.artist == ""%>
          @ unknown
        <% else %>
          @ <%= tweet.artist%>
        <% end %>
      </div>
    </div>
    </div>
  <div class="content__bottom">
    <div class="content__bottom__text">
      <%=safe_join(tweet.text.split("\n"),tag(:br))%>
    </div>
    <div class="content__bottom__bottom">
      <% if tweet.link == "" %>
        <div class="content__bottom__bottom__link-false">
          <i class="fab fa-youtube"></i>
        </div>
      <% else %>
        <div class="content__bottom__bottom__link">
          <a href="<%= tweet.link %>" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      <% end %>
      <div class="content__bottom__bottom__likes">
        <ul>
          <li class="like__top">  
            <i class="fas fa-heart"></i>
          </li>
          <li class="like__bottom">
            <%= tweet.likes.count%>
          </li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div class="content__bottom__bottom__trash-btn">
          <%= link_to tweet_path(tweet.id), method: :get do %>
            <i class="fas fa-angle-double-right"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>