<!DOCTYPE html>
<html>
  <head>
    <title>Lyricers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="title">
      <%= link_to "Lyricers", "/", class:"title__logo" %>
    </div>
    <div class="user__btn">
      <div class="user__btn__search">
        <%= link_to search_tweets_path, method: :get do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="user__btn--new">
          <%= link_to new_tweet_path, method: :get do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
        <div class="user__btn--log-out">
          <%= link_to "Log-out", "/users/sign_out", method: :delete, class: "btn btn-info btn-lg" %>
        </div>
      <% else %>
        <div class="user__btn--sign-in">
          <%= link_to "Sign-in", "/users/sign_up", class: "btn btn-light btn-lg user__btn--sign-in__1", method: :get %>
        </div>
        <div class="user__btn--log-in">
          <%= link_to "Log-in", "/users/sign_in", class: "btn btn-dark btn-lg user__btn-2__1", method: :get %>
        </div>
      <% end %>
      </div>
    </header>
    <div class="notifications">
      <% flash.each do |key, value| %>
        <div class="<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>


